# VS code files
.vscode

# Ignore object files, static and dynamic libraries.
*.o
*.a
*.so

# Ignore compiled executables.
*.exe
*.out
*.app

# Ignore debug and release directories.
debug/
Debug/
release/
Release/

# Ignore CMake build directory
build/


# Ignore Visual Studio files
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln

# Ignore Code::Blocks files
*.cbp
*.layout
*.depend

# Ignore Qt Creator files
*.pro.user
*.qmake.stash
*.pro.user.*
*.creator.user.*
*.creator.user
*.autosave

# Ignore Xcode files
*.xcworkspace
*.xcuserstate
*.xcuserdatad
*.xcdebugger

# Ignore temporary files
*.tmp
*.temp
*.swp
*.swo
*.bak
*.old

# Ignore backup files
*~

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore log files
*.log


# Ignore clangd index
.clangd/

# Ignore test binaries and results
test-bin/
test-results/
